/*-----------Estilos Documento----------*/
@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/Overpass-Regular.eot');
  src: local('Overpass Regular'), local('Overpass-Regular'),
    url('/assets/fonts/Overpass-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Overpass-Regular.woff2') format('woff2'),
    url('/assets/fonts/Overpass-Regular.woff') format('woff'),
    url('/assets/fonts/Overpass-Regular.ttf') format('truetype'),
    url('/assets/fonts/Overpass-Regular.svg#Overpass-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/Overpass-SemiBold.eot');
  src: local('Overpass SemiBold'), local('Overpass-SemiBold'),
    url('/assets/fonts/Overpass-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Overpass-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Overpass-SemiBold.woff') format('woff'),
    url('/assets/fonts/Overpass-SemiBold.ttf') format('truetype'),
    url('/assets/fonts/Overpass-SemiBold.svg#Overpass-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/Overpass-Bold.eot');
  src: local('Overpass Bold'), local('Overpass-Bold'),
    url('/assets/fonts/Overpass-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Overpass-Bold.woff2') format('woff2'),
    url('/assets/fonts/Overpass-Bold.woff') format('woff'),
    url('/assets/fonts/Overpass-Bold.ttf') format('truetype'),
    url('/assets/fonts/Overpass-Bold.svg#Overpass-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html,
body,
div,
p,
span,
iframe,
h1,
h2,
h3,
hr,
main {
  padding: 0;
  border: 0;
  margin: 0;
}

hr {
  background-color: #D8D8D8;
  position: relative;
  height: 0.125em;
  width: 80%;
  margin: 0.625em auto;
}

h1 {
  color: #068700;
  font-family: 'Overpass', sans-serif;
}

h2 {
  color: black;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

h3 {
  color: black;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}
a{
  color: inherit;
  text-decoration: none;
}



/*-----------Estilos Header----------*/

header {
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-list-container {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-link {
  width: auto;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  color: #068700;
  font-weight: 600;
  font-family: 'Overpass', sans-serif;
  text-decoration: none;
  -webkit-transition: background-color 0.8s, color 0.8s;
  -o-transition: background-color 0.8s, color 0.8s;
  -moz-transition: background-color 0.8s, color 0.8s;
  transition: background-color 0.8s, color 0.8s;
}

.header-list-container svg {
  fill: currentColor;
}

/*-----------Estilos Footer----------*/

footer {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-text {
  color: #444;
  font-weight: 600;
  font-family: 'Overpass', sans-serif;
}

.footer-list-container {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-link {

  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.footer-link svg {
  fill: currentColor;
}

.facebook {
  color: #314ca4;
}

.instagram {
  color: #b76bd0;
}

.whatsapp {
  color: #65bf62;
}




/*-----------Estilos Celular----------*/

@media (max-width: 767px),
(orientation: portrait) {

  /*-----------Estilos Documento----------*/
  body,
  html {
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    margin: 0.8em 0;
  }

  h3 {
    font-size: 1em;
  }

  hr {
    width: 80%;
  }

  /*-----------Estilos Header----------*/
  .header-logo-container {
    width: 20%;
  }

  .header-logo-img {
    width: 95%;
    margin: 2.5%;
  }

  .header-list-container {
    width: 80%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header-link span {
    display: none;
  }

  .header-link {
    width: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 0.5em;
  }

  .header-list-container svg {
    width: 3em;
    height: 2em;
    padding: 0.313em 0;
  }

  /*-----------Estilos Footer----------*/
  footer {

    width: 100%;
  }

  .footer-logo-container {
    width: 20%;
  }

  .footer-logo-img {
    width: 95%;
  }

  .footer-text {
    width: 20%;
    margin: 0;
    font-size: 1em;
  }

  .footer-list-container {
    width: 60%;
  }

  .footer-link {
    margin: 0 0.5em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .footer-link svg {
    width: 3em;
    height: 3em;
  }

}

/*-----------Estilos Desktop----------*/
@media (min-width: 768px) and (orientation: landscape) {

  /*-----------Estilos Scroll----------*/
  ::-webkit-scrollbar {
    width: 0.625em;
    background-color: white;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #D0D3D4;
    -webkit-border-radius: 0.313em;
    border-radius: 0.313em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #B3B6B7;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #979A9A;
  }

  /*-----------Estilos Documento----------*/
  body,
  html {
    width: 100%;
  }

  hr {
    width: 80%;
  }

  h1 {
    font-size: 2.88em;
  }

  h2 {
    font-size: 2.25em;
    margin: 0.8em 0;
  }

  h3 {
    font-size: 1.5em;
  }

  /*-----------Estilos Header----------*/
  header {
    width: 80%;
  }

  .header-logo-container {
    width: 10%;
  }

  .header-logo-img {
    width: 100%;
  }

  .header-list-container {
    width: 90%;
  }

  .header-link {
    font-size: 1.25em;
    width: auto;
    margin: 0 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
    padding: 0.25em 0.5em;
  }

  .header-list-container svg {
    width: 1.8em;
    height: 1.5em;
    margin: 0 0.625em 0 0;
  }

  .header-link:hover {
    color: #000;
    background-color: #EEE;
    -webkit-transition: background-color 0.8s, color 0.8s;
    -o-transition: background-color 0.8s, color 0.8s;
    -moz-transition: background-color 0.8s, color 0.8s;
    transition: background-color 0.8s, color 0.8s;
  }

  /*-----------Estilos Footer----------*/
  footer {
    margin: 0 auto;
    width: 80%;
  }

  .footer-logo-container {
    width: 10%;
  }

  .footer-logo-img {
    width: 100%;
  }

  .footer-text {
    width: 40%;
    margin: 0 0 0 0.625em;
    font-size: 1.5em;
  }

  .footer-list-container {
    width: 50%;
  }

  .footer-link {
    padding: 1em;
    margin: 0 0.625em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .footer-link svg {
    width: 50%;
    width: 3em;
    height: 3em;
  }

  .footer-link:hover {
    color: #000;
    background-color: #EEE;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
}

/*-----------Estilos Tablet----------*/
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

  header,
  main,
  footer {
    width: 95%;
    margin: 0 2.5%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {

  header,
  main,
  footer {
    width: 80%;
    margin: 0 10%;
  }
}

/*Texto*/
@media (max-width: 767px),
(orientation: portrait) {

  body,
  html {
    font-size: 5vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

  body,
  html {
    font-size: 1.65vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {

  body,
  html {
    font-size: 1.4vw;
  }
}