/*-----------Estilos Documento----------*/
@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-Regular.eot');
    src: local('Overpass Regular'), local('Overpass-Regular'),
        url('fonts/Overpass-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Overpass-Regular.woff2') format('woff2'),
        url('fonts/Overpass-Regular.woff') format('woff'),
        url('fonts/Overpass-Regular.ttf') format('truetype'),
        url('fonts/Overpass-Regular.svg#Overpass-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-SemiBold.eot');
    src: local('Overpass SemiBold'), local('Overpass-SemiBold'),
        url('fonts/Overpass-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Overpass-SemiBold.woff2') format('woff2'),
        url('fonts/Overpass-SemiBold.woff') format('woff'),
        url('fonts/Overpass-SemiBold.ttf') format('truetype'),
        url('fonts/Overpass-SemiBold.svg#Overpass-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-Bold.eot');
    src: local('Overpass Bold'), local('Overpass-Bold'),
        url('fonts/Overpass-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Overpass-Bold.woff2') format('woff2'),
        url('fonts/Overpass-Bold.woff') format('woff'),
        url('fonts/Overpass-Bold.ttf') format('truetype'),
        url('fonts/Overpass-Bold.svg#Overpass-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-Light.eot');
    src: local('Overpass Light'), local('Overpass-Light'),
        url('fonts/Overpass-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Overpass-Light.woff2') format('woff2'),
        url('fonts/Overpass-Light.woff') format('woff'),
        url('fonts/Overpass-Light.ttf') format('truetype'),
        url('fonts/Overpass-Light.svg#Overpass-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-ExtraBold.eot');
    src: local('Overpass ExtraBold'), local('Overpass-ExtraBold'),
        url('fonts/Overpass-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Overpass-ExtraBold.woff2') format('woff2'),
        url('fonts/Overpass-ExtraBold.woff') format('woff'),
        url('fonts/Overpass-ExtraBold.ttf') format('truetype'),
        url('fonts/Overpass-ExtraBold.svg#Overpass-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-Thin.eot');
    src: local('Overpass Thin'), local('Overpass-Thin'),
        url('fonts/Overpass-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Overpass-Thin.woff2') format('woff2'),
        url('fonts/Overpass-Thin.woff') format('woff'),
        url('fonts/Overpass-Thin.ttf') format('truetype'),
        url('fonts/Overpass-Thin.svg#Overpass-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-Heavy.eot');
    src: local('Overpass Heavy'), local('Overpass-Heavy'),
        url('fonts/Overpass-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Overpass-Heavy.woff2') format('woff2'),
        url('fonts/Overpass-Heavy.woff') format('woff'),
        url('fonts/Overpass-Heavy.ttf') format('truetype'),
        url('fonts/Overpass-Heavy.svg#Overpass-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-ExtraLight.eot');
    src: local('Overpass ExtraLight'), local('Overpass-ExtraLight'),
        url('fonts/Overpass-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Overpass-ExtraLight.woff2') format('woff2'),
        url('fonts/Overpass-ExtraLight.woff') format('woff'),
        url('fonts/Overpass-ExtraLight.ttf') format('truetype'),
        url('fonts/Overpass-ExtraLight.svg#Overpass-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

html,
body,
div,
p,
span,
iframe,
h1,
h2,
h3,
hr {
    padding: 0;
    border: 0;
    margin: 0;
}

hr {
    background-color: #D8D8D8;
    position: relative;
    height: 0.125em;
    width: 80%;
    margin: 0.625em auto;
}

.hr {
    margin: 0;
}

.hr hr {
    width: 80vw;
    margin: 0.625em auto;
}

.borrar {
    margin: 0;
}

@-moz-document url-prefix() {
    .borrar {
        display: none;
    }
}

h1 {
    color: #068700;
    font-family: 'Overpass', sans-serif;
}

h2 {
    color: black;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

h3 {
    color: black;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}




/*-----------Estilos Header----------*/

header {
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-list-container {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-link {
    width: auto;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    color: #068700;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
    -webkit-transition: background-color 0.8s, color 0.8s;
    -o-transition: background-color 0.8s, color 0.8s;
    -moz-transition: background-color 0.8s, color 0.8s;
    transition: background-color 0.8s, color 0.8s;
}

.header-list-container svg {
    fill: currentColor;
}

/*-----------Estilos Primer Bloque----------*/

.bloque1 {
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
}

.parallax {
    position: relative;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.logo-container {
    height: auto;
    float: right;
    margin: 0;
}

.logo {
    height: auto;
    margin: 0;
}

.bloque1-texto {
    float: left;
    height: auto;
    margin: 0;
}

.desc {
    font-family: 'Overpass', sans-serif;
    color: #444;
    font-weight: 600;
}

/*-----------Estilos Segundo Bloque----------*/

.bloque2 {
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.datos-container {
    margin: auto;
    float: left;
}

.mapa-container {
    float: right;
}

.direccion {
    font-family: 'Overpass', sans-serif;
    color: #555;
    font-weight: 600;
    float: left;
}

.telefono {
    font-family: 'Overpass', sans-serif;
    color: #555;
    font-weight: 600;
    float: right;
}

.frente-img {
    margin: 0;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

/*-----------Estilos Tercer Bloque----------*/

.bloque3 {
    height: auto;
    border: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bloque3-titulo {
    float: left;
}

.bloque3-horario {
    float: left;
    color: #555;
    font-weight: 600;
    text-align: left;
    font-family: 'Overpass', sans-serif;
}

/*-----------Estilos Cuarto Bloque----------*/

.bloque4 {
    margin: auto;
}

.slider-container p {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    margin-top: 0.5em;
}

.slider-container-data {
    text-align: center;
    pointer-events: none;
}

.slider-container-data-1 {
    float: left;
}

.slider-container-data-2 {
    display: inline-block;
}

.slider-container-data-3 {
    float: right;
}

.slider-container-img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*-----------Estilos Slider----------*/
.simple-slider {
    overflow: hidden;
    position: relative
}

.simple-slider .slider-wrapper {
    height: 100%;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    -moz-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    -o-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: cubic-bezier(.7, 0, .3, 1)
}

.simple-slider .slider-slide {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    height: 100%;
    float: left
}

.simple-slider .slider-btn {
    width: 1.875em;
    height: 3.125em;
    top: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.simple-slider .slider-btn.slider-btn-prev {
    left: 3%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJjaGV2cm9uLWxlZnQiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjU2IDUxMiIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWNoZXZyb24tbGVmdCBmYS13LTggZmEtM3giPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMzEuMjkzIDQ3My44OTlsMTkuNzk5LTE5Ljc5OWM0LjY4Ni00LjY4NiA0LjY4Ni0xMi4yODQgMC0xNi45NzFMNzAuMzkzIDI1NiAyNTEuMDkyIDc0Ljg3YzQuNjg2LTQuNjg2IDQuNjg2LTEyLjI4NCAwLTE2Ljk3MUwyMzEuMjkzIDM4LjFjLTQuNjg2LTQuNjg2LTEyLjI4NC00LjY4Ni0xNi45NzEgMEw0LjkwOCAyNDcuNTE1Yy00LjY4NiA0LjY4Ni00LjY4NiAxMi4yODQgMCAxNi45NzFMMjE0LjMyMiA0NzMuOWM0LjY4NyA0LjY4NiAxMi4yODUgNC42ODYgMTYuOTcxLS4wMDF6Ij48L3BhdGg+PC9zdmc+");
    background-position: left;
    width: 2.5em;
    height: 2.5em;
}

.simple-slider .slider-btn.slider-btn-next {
    right: 3%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJjaGV2cm9uLXJpZ2h0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI1NiA1MTIiIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaGV2cm9uLXJpZ2h0IGZhLXctOCBmYS1mdyBmYS0yeCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTI0LjcwNyAzOC4xMDFMNC45MDggNTcuODk5Yy00LjY4NiA0LjY4Ni00LjY4NiAxMi4yODQgMCAxNi45NzFMMTg1LjYwNyAyNTYgNC45MDggNDM3LjEzYy00LjY4NiA0LjY4Ni00LjY4NiAxMi4yODQgMCAxNi45NzFMMjQuNzA3IDQ3My45YzQuNjg2IDQuNjg2IDEyLjI4NCA0LjY4NiAxNi45NzEgMGwyMDkuNDE0LTIwOS40MTRjNC42ODYtNC42ODYgNC42ODYtMTIuMjg0IDAtMTYuOTcxTDQxLjY3OCAzOC4xMDFjLTQuNjg3LTQuNjg3LTEyLjI4NS00LjY4Ny0xNi45NzEgMHoiPjwvcGF0aD48L3N2Zz4=");
    background-position: right;
    width: 2.5em;
    height: 2.5em;
}

/*-----------Estilos Quinto Bloque----------*/

.gallery {
    margin: 0 auto;
}

.gallery-container {
    float: left;
}

.gallery-img {
    height: auto;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

/*-----------Estilos GLightbox----------*/
.glightbox-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-text-size-adjust: 100%;
    outline: none;
    overflow: hidden;
  }
  
  .glightbox-container.inactive {
    display: none;
  }
  
  .glightbox-container .gcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
  }
  
  .glightbox-container .gslider {
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .glightbox-container .gslide {
    width: 100%;
    position: absolute;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
  }
  
  
  /* top: 0;
          left: 0;
          right: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); */
  
  .glightbox-container .gslide.current {
    opacity: 1;
    z-index: 99999;
    position: relative;
  }
  
  .glightbox-container .gslide.prev {
    opacity: 1;
    z-index: 9999;
  }
  
  .glightbox-container .gslide-inner-content {
    width: 100%;
  }
  
  .glightbox-container .ginner-container {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    height: 100vh;
  }
  
  .glightbox-container .ginner-container.gvideo-container {
    width: 100%;
  }
  
  .glightbox-container .ginner-container.desc-bottom,
  .glightbox-container .ginner-container.desc-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .glightbox-container .ginner-container.desc-left,
  .glightbox-container .ginner-container.desc-right {
    max-width: 100%;
  }
  
  .gslide iframe,
  .gslide video {
    outline: none;
    border: none;
    min-height: 10.313rem;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  
  .gslide-image {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .gslide-image img {
    max-height: 100vh;
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
    float: none;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 100vw;
    width: auto;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-touch-action: none;
    touch-action: none;
    margin: auto;
    min-width: 12.500rem;
  }
  
  .desc-top .gslide-image img,
  .desc-bottom .gslide-image img {
    width: auto;
  }
  
  .desc-left .gslide-image img,
  .desc-right .gslide-image img {
    width: auto;
    max-width: 100%;
  }
  
  .gslide-image img.zoomable {
    position: relative;
  }
  
  .gslide-image img.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    -webkit-transition: none;
    transition: none;
  }
  
  .gslide-video {
    width: 100%;
    max-width: 100%;
    position: relative;
    width: 100vh;
    max-width: 100vh;
    width: 100%;
  }
  
  .gslide-video .gvideo-wrapper {
    width: 100%;
    /* max-width: 160vmin; */
    margin: auto;
  }
  
  .gslide-video::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.34);
    display: none;
  }
  
  .gslide-video.playing::before {
    display: none;
  }
  
  .gslide-video.fullscreen {
    max-width: 100%;
    min-width: 100%;
    height: 80vh;
  }
  
  .gslide-video.fullscreen video {
    max-width: 100%;
    width: 100%;
  }
  
  .gslide-inline {
    background: #fff;
    text-align: left;
    max-height: calc(100vh - 2.5rem);
    overflow: auto;
    max-width: 100%;
  }
  
  .gslide-inline .ginlined-content {
    padding: 1.25rem;
    width: 100%;
  }
  
  .ginlined-content {
    overflow: auto;
    display: block;
    opacity: 1;
  }
  
  .gslide-external {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-width: 100%;
    background: #fff;
    padding: 0;
    overflow: auto;
    max-height: 75vh;
    height: 100%;
  }
  
  .gslide-media {
    display: block;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  
  .zoomed .gslide-media {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .desc-top .gslide-media,
  .desc-bottom .gslide-media {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .gslide-description {
    position: relative;
  }
  
  .gslide-description.description-left,
  .gslide-description.description-right {
    max-width: 100%;
  }
  
  .gslide-description.description-bottom,
  .gslide-description.description-top {
    margin: 0 auto;
    width: 100%;
  }
  
  .gslide-description p {
    margin-bottom: 0.750rem;
  }
  
  .gslide-description p::last-child {
    margin-bottom: 0;
  }
  
  .zoomed .gslide-description {
    display: none;
  }
  
  
  
  /*
   * Description for mobiles
   * something like facebook does the description
   * for the photos
  */
  
  .glightbox-mobile .glightbox-container .gslide-description {
    height: auto;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0.938rem;
    padding: 1.188rem 0.688rem;
    max-width: 100vw;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-height: 78vh;
    overflow: auto;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .75)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    padding-bottom: 3.125rem;
  }
  
  .glightbox-mobile .glightbox-container .gslide-title {
    color: #fff;
    font-size: 1rem;
  }
  
  .glightbox-mobile .glightbox-container .gslide-desc {
    color: #a1a1a1;
  }
  
  .glightbox-mobile .glightbox-container .gslide-desc a {
    color: #fff;
    font-weight: bold;
  }
  
  .glightbox-mobile .glightbox-container .gslide-desc * {
    color: inherit;
  }
  
  .glightbox-mobile .glightbox-container .gslide-desc string {
    color: #fff;
  }
  
  .glightbox-mobile .glightbox-container .gslide-desc .desc-more {
    color: #fff;
    opacity: .4;
  }
  
  .gdesc-open .gslide-media {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: .4;
  }
  
  .gdesc-open .gdesc-inner {
    padding-bottom: 1.875rem;
  }
  
  .gdesc-closed .gslide-media {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: 1;
  }
  
  .greset {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .gabsolute {
    position: absolute;
  }
  
  .grelative {
    position: relative;
  }
  
  .glightbox-desc {
    display: none;
  }
  
  .glightbox-open {
    overflow: hidden;
  }
  
  .gloader {
    height: 1.875rem;
    width: 1.875rem;
    -webkit-animation: lightboxLoader .8s infinite linear;
    animation: lightboxLoader .8s infinite linear;
    border: 0.125rem solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    position: absolute;
    display: block;
    z-index: 9999;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 47%;
  }
  
  .goverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    will-change: opacity;
  }
  
  .glightbox-mobile .goverlay {
    background: #000;
  }
  
  .gprev,
  .gnext,
  .gclose {
    background-repeat: no-repeat;
    z-index: 99999;
    cursor: pointer;
    width: 1.625rem;
    height: 2.750rem;
    display: block;
    background-position: 0 0;
    border: none;
  }
  
  .gprev svg,
  .gnext svg,
  .gclose svg {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .gprev.disabled,
  .gnext.disabled,
  .gclose.disabled {
    opacity: .1;
  }
  
  .gprev .garrow,
  .gnext .garrow,
  .gclose .garrow {
    stroke: #fff;
  }
  
  iframe.wait-autoplay {
    opacity: 0;
  }
  
  .glightbox-closing .gnext,
  .glightbox-closing .gprev,
  .glightbox-closing .gclose {
    opacity: 0;
  }
  
  
  
  
  /*Skin */
  
  .glightbox-clean .gslide-description,
  .glightbox-modern .gslide-description {
    background: #fff;
  }
  
  .glightbox-clean .gdesc-inner,
  .glightbox-modern .gdesc-inner {
    padding: 1.375rem 1.250rem;
  }
  
  .glightbox-clean .gslide-title,
  .glightbox-modern .gslide-title {
    font-size: 1rem;
    font-weight: normal;
    font-family: arial;
    color: #000;
    margin-bottom: 1.188rem;
    line-height: 1.4rem;
  }
  
  .glightbox-clean .gslide-desc,
  .glightbox-modern .gslide-desc {
    font-size: 0.86rem;
    margin-bottom: 0;
    font-family: arial;
    line-height: 1.4rem;
  }
  
  .glightbox-clean .gslide-video,
  .glightbox-modern .gslide-video {
    background: #000;
  }
  
  .glightbox-clean .gprev,
  .glightbox-clean .gnext,
  .glightbox-clean .gclose,
  .glightbox-modern .gprev,
  .glightbox-modern .gnext,
  .glightbox-modern .gclose {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.50;
    transition-duration: 0.25s;
  }
  
  .glightbox-clean .gprev:hover,
  .glightbox-clean .gnext:hover,
  .glightbox-clean .gclose:hover,
  .glightbox-modern .gprev:hover,
  .glightbox-modern .gnext:hover,
  .glightbox-modern .gclose:hover {
    opacity: 1;
    transition-duration: 0.25s;
  }
  
  .glightbox-clean .gprev path,
  .glightbox-clean .gnext path,
  .glightbox-clean .gclose path,
  .glightbox-modern .gprev path,
  .glightbox-modern .gnext path,
  .glightbox-modern .gclose path {
    fill: #fff;
  }
  
  .glightbox-clean button:focus:not(.focused):not(.disabled),
  .glightbox-modern button:focus:not(.focused):not(.disabled) {
    outline: none;
  }
  
  .glightbox-clean .gprev,
  .glightbox-modern .gprev {
    position: absolute;
    top: -100%;
    left: 1.875rem;
    width: 2rem;
    height: 2.8rem;
  }
  
  .glightbox-clean .gnext,
  .glightbox-modern .gnext {
    position: absolute;
    top: -100%;
    right: 1.875rem;
    width: 2rem;
    height: 2.8rem;
  }
  
  .glightbox-clean .gclose,
  .glightbox-modern .gclose {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0.938rem;
    right: 0.625rem;
    position: absolute;
  }
  
  .glightbox-clean .gclose svg,
  .glightbox-modern .gclose svg {
    width: 100%;
  }
  
  .glightbox-clean .gclose:hover,
  .glightbox-modern .gclose:hover {
    opacity: 1;
  }
  
  
  
  
  /*CSS Animations*/
  
  .gfadeIn {
    -webkit-animation: gfadeIn .5s ease;
    animation: gfadeIn .5s ease;
  }
  
  .gfadeOut {
    -webkit-animation: gfadeOut .5s ease;
    animation: gfadeOut .5s ease;
  }
  
  .gslideOutLeft {
    -webkit-animation: gslideOutLeft .3s ease;
    animation: gslideOutLeft .3s ease;
  }
  
  .gslideInLeft {
    -webkit-animation: gslideInLeft .3s ease;
    animation: gslideInLeft .3s ease;
  }
  
  .gslideOutRight {
    -webkit-animation: gslideOutRight .3s ease;
    animation: gslideOutRight .3s ease;
  }
  
  .gslideInRight {
    -webkit-animation: gslideInRight .3s ease;
    animation: gslideInRight .3s ease;
  }
  
  .gzoomIn {
    -webkit-animation: gzoomIn .5s ease;
    animation: gzoomIn .5s ease;
  }
  
  .gzoomOut {
    -webkit-animation: gzoomOut .5s ease;
    animation: gzoomOut .5s ease;
  }
  
  @-webkit-keyframes lightboxLoader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes lightboxLoader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes gfadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes gfadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes gfadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes gfadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes gslideInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-60%, 0, 0);
      transform: translate3d(-60%, 0, 0);
    }
  
    to {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @keyframes gslideInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-60%, 0, 0);
      transform: translate3d(-60%, 0, 0);
    }
  
    to {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes gslideOutLeft {
    from {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(-60%, 0, 0);
      transform: translate3d(-60%, 0, 0);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes gslideOutLeft {
    from {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(-60%, 0, 0);
      transform: translate3d(-60%, 0, 0);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes gslideInRight {
    from {
      opacity: 0;
      visibility: visible;
      -webkit-transform: translate3d(60%, 0, 0);
      transform: translate3d(60%, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @keyframes gslideInRight {
    from {
      opacity: 0;
      visibility: visible;
      -webkit-transform: translate3d(60%, 0, 0);
      transform: translate3d(60%, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes gslideOutRight {
    from {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(60%, 0, 0);
      transform: translate3d(60%, 0, 0);
      opacity: 0;
    }
  }
  
  @keyframes gslideOutRight {
    from {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(60%, 0, 0);
      transform: translate3d(60%, 0, 0);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes gzoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes gzoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes gzoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes gzoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  @media (min-width: 769px) and (orientation:landscape) {
    .glightbox-container .ginner-container {
      width: auto;
      height: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  
    .glightbox-container .ginner-container.desc-top .gslide-description {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
    }
  
    .glightbox-container .ginner-container.desc-top .gslide-image,
    .glightbox-container .ginner-container.desc-top .gslide-image img {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }
  
    .glightbox-container .ginner-container.desc-left .gslide-description {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
    }
  
    .glightbox-container .ginner-container.desc-left .gslide-image {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }
  
    .gslide-image img {
      max-height: 97vh;
      max-width: calc(100% - 1.250rem);
      max-width: 100%;
    }
  
    .gslide-image img.zoomable {
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
    }
  
    .zoomed .gslide-image img.zoomable {
      cursor: -webkit-grab;
      cursor: grab;
    }
  
    .gslide-inline {
      max-height: 95vh;
    }
  
    .gslide-external {
      max-height: 100vh;
    }
  
    .gslide-description.description-left,
    .gslide-description.description-right {
      max-width: 17.188rem;
    }
  
    .glightbox-open {
      height: auto;
    }
  
    .goverlay {
      background: rgba(0, 0, 0, .92);
    }
  
    .glightbox-clean .gslide-media,
    .glightbox-modern .gslide-media {
      -webkit-box-shadow: 0.063rem 0.125rem 0.563rem 0 rgba(0, 0, 0, 0.65);
      box-shadow: 0.063rem 0.125rem 0.563rem 0 rgba(0, 0, 0, 0.65);
    }
  
    .glightbox-clean .gprev,
    .glightbox-modern .gprev {
      top: 45%;
    }
  
    .glightbox-clean .gnext,
    .glightbox-modern .gnext {
      top: 45%;
    }
  }
  
  @media (min-width: 992px) and (orientation:landscape){
  
    .glightbox-clean .gclose,
    .glightbox-modern .gclose {
      right: 1.250rem;
    }
  }
  
  @media screen and (max-height: 420px) {
    .goverlay {
      background: #000;
    }
  }
/*-----------Estilos Footer----------*/

footer {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-text {
    color: #444;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
}

.footer-list-container {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer-link {

    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.footer-link svg {
    fill: currentColor;
}

.facebook {
    color: #314ca4;
}

.instagram {
    color: #b76bd0;
}

.whatsapp {
    color: #65bf62;
}




/*-----------Estilos Celular----------*/

@media (max-width: 767px),
(orientation: portrait) {

    /*-----------Estilos Documento----------*/
    body,
    html {
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        margin: 0.8em 0;
    }

    h3 {
        font-size: 1em;
    }

    hr {
        width: 80%;
    }

    /*-----------Estilos Header----------*/
    .header-logo-container {
        width: 20%;
    }

    .header-logo-img {
        width: 95%;
        margin: 2.5%;
    }

    .header-list-container {
        width: 80%;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header-link span {
        display: none;
    }

    .header-link {
        width: auto;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 0.5em;
    }

    .header-list-container svg {
        width: 3em;
        height: 2em;
        padding: 0.313em 0;
    }

    /*-----------Estilos Primer Bloque----------*/
    .parallax {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }

    .bloque1 {
        width: 100%;
        padding: 0.938em 0;
    }

    .bloque1-texto {
        width: 80%;
        margin: 0 10%;
        text-align: center;
    }

    .bloque1-texto h1 {
        width: 80%;
        margin: 0 10%;
    }

    .bloque1-texto p {
        width: 80%;
        margin: 0 10%;
        text-align: left;
        font-size: 1.5em;
    }

    .logo-container {
        width: 80%;
        margin: 0 10%;
    }

    .logo {
        width: 100%;
    }

    /*-----------Estilos Segundo Bloque----------*/
    .bloque2 {
        display: block;
    }

    .datos-container {
        width: 100%;
    }

    .mapa-container {
        width: 100%;
    }

    .datos-titulo {
        margin: 0 10%;
        width: 80%;
    }

    .direccion {
        margin: 0.8em 10%;
        width: 80%;
        font-size: 1.13em;
    }

    .telefono {
        margin: 0.8em 10%;
        font-size: 1.13em;
        width: 80%;
    }

    .iframe-container {
        height: 120vw;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        width: 90%;
        margin: 0.938em 5%;
    }

    .iframe {
        height: 100%;
        width: 100%;
        border: none;
        -webkit-border-radius: 1.250em;
        -moz-border-radius: 1.250em;
        border-radius: 1.250em;
    }

    /*-----------Estilos Iframe----------*/
    .lazyembed {
        z-index: 0;
    }

    .lazyembed:not(.embed-responsive-item) {
        position: relative;
        display: inline-block;
        line-height: 0;
    }

    .lazyembed:not(.embed-responsive-item) .lazyembed__text {
        line-height: 1;
    }

    .lazyembed__placeholder {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        -webkit-border-radius: 1.250em;
        -moz-border-radius: 1.250em;
        border-radius: 1.250em;
    }

    .lazyembed__overlay {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 1.250em;
        -moz-border-radius: 1.250em;
        border-radius: 1.250em;
    }

    .lazyembed__text {
        position: absolute;
        left: 1rem;
        right: 1rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        color: #fff;
        font-size: 1.25em;
        font-family: 'Overpass', sans-serif;
    }

    .lazyembed__text svg {
        width: 6em;
        height: 4em;
        margin: 0.625em;
    }

    /*-----------Estilos Frente----------*/
    .frente-img {
        width: 90%;
        margin: 0 5%;
        -webkit-border-radius: 1.250em;
        -moz-border-radius: 1.250em;
        border-radius: 1.250em;
    }

    /*-----------Estilos Tercer Bloque----------*/
    .bloque3 {
        width: 100%;
        height: auto;

        border: 0;
        margin: 0;
        display: block;
    }

    .bloque3-titulo {
        width: 60%;
        margin: 0 20%;
    }

    .bloque3-horario {
        width: 80%;
        margin: 0.8em 10%;
        color: #555;
        font-weight: 600;
        text-align: left;
        font-family: 'Overpass', sans-serif;
        font-size: 1.25em;
    }

    /*-----------Estilos Cuarto Bloque----------*/
    .bloque4 {
        margin: auto;
        width: 100%;
    }

    .slider-container p {
        font-family: 'Overpass', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }

    .slider-container {
        width: 100%;
    }

    .slider-container-data {
        text-align: center;
        pointer-events: none;
    }

    .slider-container-data-1 {
        width: 100%;
        margin: 0%;
    }

    .slider-container-data-2 {
        width: 100%;
        margin: 0%;
    }

    .slider-container-data-3 {
        width: 100%;
        margin: 0%;
    }

    .slider-container-img {
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        border-radius: 5%;
        width: 90%;
        margin: 5%;
    }

    .slider-1 {
        display: none;
    }

    .simple-slider .slider-btn.slider-btn-prev {
        left: 8%;
    }

    .simple-slider .slider-btn.slider-btn-next {
        right: 8%;
    }


    /*-----------Estilos Quinto Bloque----------*/
    .gallery {
        width: 100%;

        margin: 0 auto;
    }

    .gallery-container {
        width: 50%;
        float: left;
    }

    .gallery-img {
        width: 90%;
        height: auto;
        margin: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        border-radius: 5%;
        -webkit-transition-duration: .7s;
        -moz-transition-duration: .7s;
        -o-transition-duration: .7s;
        transition-duration: .7s;
        -webkit-box-shadow: inset 0 0 0.625em 0 rgba(0, 0, 0, 1);
        -moz-box-shadow: inset 0 0 0.625em 0 rgba(0, 0, 0, 1);
        box-shadow: inset 0 0 0.625em 0 rgba(0, 0, 0, 1);
    }

    /*-----------Estilos Footer----------*/
    footer {

        width: 100%;
    }

    .footer-logo-container {
        width: 20%;
    }

    .footer-logo-img {
        width: 95%;
    }

    .footer-text {
        width: 20%;
        margin: 0;
        font-size: 1em;
    }

    .footer-list-container {
        width: 60%;
    }

    .footer-link {
        margin: 0 0.5em;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .footer-link svg {
        width: 3em;
        height: 3em;
    }

}

/*-----------Estilos Desktop----------*/
@media (min-width: 768px) and (orientation: landscape) {

    /*-----------Estilos Scroll----------*/
    ::-webkit-scrollbar {
        width: 0.625em;
        background-color: white;
    }

    ::-webkit-scrollbar-track {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #D0D3D4;
        -webkit-border-radius: 0.313em;
        border-radius: 0.313em;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #B3B6B7;
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: #979A9A;
    }

    /*-----------Estilos Documento----------*/
    body,
    html {
        width: 100%;
    }

    hr {
        width: 80%;
    }

    h1 {
        font-size: 2.88em;
    }

    h2 {
        font-size: 2.25em;
        margin: 0.8em 0;
    }

    h3 {
        font-size: 1.5em;
    }

    /*-----------Estilos Header----------*/
    header {
        width: 80%;
    }

    .header-logo-container {
        width: 10%;
    }

    .header-logo-img {
        width: 100%;
    }

    .header-list-container {
        width: 90%;
    }

    .header-link {
        font-size: 1.25em;
        width: auto;
        margin: 0 1.5em;
        -webkit-border-radius: 1.5em;
        -moz-border-radius: 1.5em;
        border-radius: 1.5em;
        padding: 0.25em 0.5em;
    }

    .header-list-container svg {
        width: 1.8em;
        height: 1.5em;
        margin: 0 0.625em 0 0;
    }

    .header-link:hover {
        color: #000;
        background-color: #EEE;
        -webkit-transition: background-color 0.8s, color 0.8s;
        -o-transition: background-color 0.8s, color 0.8s;
        -moz-transition: background-color 0.8s, color 0.8s;
        transition: background-color 0.8s, color 0.8s;
    }

    /*-----------Estilos Primer Bloque----------*/
    .bloque1 {
        width: 80%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 10%;
    }

    .logo-container {
        width: 50%;
        float: right;
    }

    .logo {
        width: 100%;
        padding: 0.313em;
    }

    .bloque1-texto {
        width: 50%;
        padding: 0.625em;
    }

    .desc {
        font-size: 1.63em;
    }

    /*-----------Estilos Segundo Bloque----------*/
    .bloque2 {
        width: 80%;
        margin: 0 10%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }

    .datos-container {
        width: 50%;
    }

    .mapa-container {
        width: 50%;
    }

    .datos-titulo {
        width: 100%;
    }

    .direccion {
        margin: 0.8em 2.5%;
        width: 45%;
        font-size: 1.13em;
    }

    .telefono {
        margin: 0.8em 2.5%;
        font-size: 1.13em;
        width: 45%;
    }

    .iframe-container {
        height: 35vw;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        width: 100%;
        margin: 0.625em 0;
    }

    .iframe {
        height: 100%;
        width: 100%;
        border: 0;
        -webkit-border-radius: 1.250em;
        -moz-border-radius: 1.250em;
        border-radius: 1.250em;
    }

    /*-----------Estilos Iframe----------*/
    .lazyembed {
        z-index: 0;
    }

    .lazyembed:not(.embed-responsive-item) {
        position: relative;
        display: inline-block;
        line-height: 0;
    }

    .lazyembed:not(.embed-responsive-item) .lazyembed__text {
        line-height: 1;
    }

    .lazyembed__placeholder {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
        -webkit-border-radius: 1.250em;
        -moz-border-radius: 1.250em;
        border-radius: 1.250em;
    }

    .lazyembed__overlay {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 1.250em;
        -moz-border-radius: 1.250em;
        border-radius: 1.250em;
    }

    .lazyembed__text {
        position: absolute;
        left: 1rem;
        right: 1rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        color: #fff;
        font-size: 1.25em;
        font-family: 'Overpass', sans-serif;
    }

    .lazyembed__text svg {
        width: 8em;
        height: 5em;
        margin: 0.625em;
    }

    /*-----------Estilos Frente----------*/
    .frente-img {
        width: 80%;

        margin: 0 10%;
        height: auto;
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-border-radius: 1.250em;
        -moz-border-radius: 1.250em;
        border-radius: 1.250em;
    }

    .frente-img:hover {
        -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
        -moz-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
    }

    /*-----------Estilos Tercer Bloque----------*/
    .bloque3 {
        width: 80%;
        margin: 0 10%;
        height: auto;
        padding: 0.625em 0;
    }

    .bloque3-titulo {
        width: 50%;
    }

    .bloque3-horario {
        width: 40%;
        font-size: 1.25em;
    }

    /*-----------Estilos Cuarto Bloque----------*/
    .bloque4 {
        width: 80%;
        margin: 0 10%;
    }

    .slider-container p {
        font-size: 1.5em;
    }

    .slider-container {
        width: 100%;
    }

    .slider-container-data {
        text-align: center;
        padding: 0 0 0.625em 0;
    }

    .slider-container-data-1 {
        width: 30%;
        margin: 1.6666%;
    }

    .slider-container-data-2 {
        width: 30%;
        margin: 1.6666%;
    }

    .slider-container-data-3 {
        width: 30%;
        margin: 1.6666%;
    }

    .slider-container-img {
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        border-radius: 5%;
        width: 100%;
    }

    .slider-2 {
        display: none;
    }

    .simple-slider .slider-btn.slider-btn-prev,.simple-slider .slider-btn.slider-btn-next {
    opacity: 0.60;
    transition-duration: 0.25s;
    }
    .simple-slider .slider-btn.slider-btn-prev:hover,.simple-slider .slider-btn.slider-btn-next:hover {
        opacity: 1;
        transition-duration: 0.25s;
        }
    /*-----------Estilos Quinto Bloque----------*/
    .gallery {
        width: 80%;
    }

    .gallery-container {
        width: 25%;
    }

    .gallery-img {
        width: 90%;
        margin: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        border-radius: 5%;
    }

    .gallery-img:hover {
        -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
        -moz-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transition-duration: .5s;
        -moz-transition-duration: .5s;
        -o-transition-duration: .5s;
        transition-duration: .5s;
    }

    /*-----------Estilos Footer----------*/
    footer {
        margin: 0 auto;
        width: 80%;
    }

    .footer-logo-container {
        width: 10%;
    }

    .footer-logo-img {
        width: 100%;
    }

    .footer-text {
        width: 40%;
        margin: 0 0 0 0.625em;
        font-size: 1.5em;
    }

    .footer-list-container {
        width: 50%;
    }

    .footer-link {
        padding: 1em;
        margin: 0 0.625em;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .footer-link svg {
        width: 50%;
        width: 3em;
        height: 3em;
    }

    .footer-link:hover {
        color: #000;
        background-color: #EEE;
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }
}

/*-----------Estilos Tablet----------*/
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

    header,
    .bloque1,
    .bloque2,
    .frente-img,
    .bloque3,
    .bloque4,
    .gallery,
    footer {
        width: 95%;
        margin: 0 2.5%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {

    header,
    .bloque1,
    .bloque2,
    .frente-img,
    .bloque3,
    .bloque4,
    .gallery,
    footer {
        width: 80%;
        margin: 0 10%;
    }
}

@media screen and (min-width: 3840px) {
    .parallax {
        background: url("img/3840px+/parallax.jpg") no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (min-width: 2048px) and (max-width: 3839px) {
    .parallax {
        background: url("img/2048px-3839px/parallax.jpg") no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (min-width: 1920px) and (max-width: 2047px) {
    .parallax {
        background: url("img/1920px-2047px/parallax.jpg") no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .parallax {
        background: url("img/1440px-1919px/parallax.jpg") no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .parallax {
        background: url("img/1024px-1439px/parallax.jpg") no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .parallax {
        background: url("img/768px-1023px/parallax.jpg") no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .parallax {
        background: url("img/425px-767px/parallax.jpg") no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .parallax {
        background: url("img/375px-424px/parallax.jpg");
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (max-width: 374px) {
    .parallax {
        background: url("img/374px-/parallax.jpg") no-repeat fixed;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/*Texto*/
@media (max-width: 767px), (orientation: portrait) {
    body, html {
        font-size: 5vw;
    }
}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    body, html {
        font-size: 1.65vw;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    body, html {
        font-size: 1.4vw;
    }
}