/*-----------Estilos Documento----------*/
.hr {
  margin: 0;
}

.hr hr {
  width: 80vw;
  margin: 0.625em auto;
}

.borrar {
  margin: 0;
}

@-moz-document url-prefix() {
  .borrar {
    display: none;
  }
}

/*-----------Estilos Primer Bloque----------*/

.bloque1 {
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
}

.parallax {
  position: relative;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

.logo-container {
  height: auto;
  float: right;
  margin: 0;
}

.logo {
  height: auto;
  margin: 0;
}

.bloque1-texto {
  float: left;
  height: auto;
  margin: 0;
}

.desc {
  font-family: 'Overpass', sans-serif;
  color: #444;
  font-weight: 600;
}

/*-----------Estilos Segundo Bloque----------*/

.bloque2 {
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.datos-container {
  margin: auto;
  float: left;
}

.mapa-container {
  float: right;
}

.direccion {
  font-family: 'Overpass', sans-serif;
  color: #555;
  font-weight: 600;
  float: left;
}

.telefono {
  font-family: 'Overpass', sans-serif;
  color: #555;
  font-weight: 600;
  float: right;
}

.frente-img {
  margin: 0;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}

/*-----------Estilos Tercer Bloque----------*/

.bloque3 {
  height: auto;
  border: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bloque3-titulo {
  float: left;
}

.bloque3-horario {
  float: left;
  color: #555;
  font-weight: 600;
  text-align: left;
  font-family: 'Overpass', sans-serif;
}

/*-----------Estilos Cuarto Bloque----------*/

.bloque4 {
  margin: auto;
}

.slider-container p {
  font-family: 'Overpass', sans-serif;
  font-weight: bold;
  margin-top: 0.5em;
}

.slider-container-data {
  text-align: center;
  pointer-events: none;
}

.slider-container-data-1 {
  float: left;
}

.slider-container-data-2 {
  display: inline-block;
}

.slider-container-data-3 {
  float: right;
}

.slider-container-img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*-----------Estilos Slider----------*/
.simple-slider {
  overflow: hidden;
  position: relative
}

.simple-slider .slider-wrapper {
  height: 100%;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
  -moz-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
  -o-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
  transition-timing-function: cubic-bezier(.7, 0, .3, 1)
}

.simple-slider .slider-slide {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  height: 100%;
  float: left
}

.simple-slider .slider-btn {
  width: 1.875em;
  height: 3.125em;
  top: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

.simple-slider .slider-btn.slider-btn-prev {
  left: 3%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJjaGV2cm9uLWxlZnQiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjU2IDUxMiIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWNoZXZyb24tbGVmdCBmYS13LTggZmEtM3giPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMzEuMjkzIDQ3My44OTlsMTkuNzk5LTE5Ljc5OWM0LjY4Ni00LjY4NiA0LjY4Ni0xMi4yODQgMC0xNi45NzFMNzAuMzkzIDI1NiAyNTEuMDkyIDc0Ljg3YzQuNjg2LTQuNjg2IDQuNjg2LTEyLjI4NCAwLTE2Ljk3MUwyMzEuMjkzIDM4LjFjLTQuNjg2LTQuNjg2LTEyLjI4NC00LjY4Ni0xNi45NzEgMEw0LjkwOCAyNDcuNTE1Yy00LjY4NiA0LjY4Ni00LjY4NiAxMi4yODQgMCAxNi45NzFMMjE0LjMyMiA0NzMuOWM0LjY4NyA0LjY4NiAxMi4yODUgNC42ODYgMTYuOTcxLS4wMDF6Ij48L3BhdGg+PC9zdmc+");
  background-position: left;
  width: 2.5em;
  height: 2.5em;
}

.simple-slider .slider-btn.slider-btn-next {
  right: 3%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJjaGV2cm9uLXJpZ2h0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI1NiA1MTIiIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaGV2cm9uLXJpZ2h0IGZhLXctOCBmYS1mdyBmYS0yeCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTI0LjcwNyAzOC4xMDFMNC45MDggNTcuODk5Yy00LjY4NiA0LjY4Ni00LjY4NiAxMi4yODQgMCAxNi45NzFMMTg1LjYwNyAyNTYgNC45MDggNDM3LjEzYy00LjY4NiA0LjY4Ni00LjY4NiAxMi4yODQgMCAxNi45NzFMMjQuNzA3IDQ3My45YzQuNjg2IDQuNjg2IDEyLjI4NCA0LjY4NiAxNi45NzEgMGwyMDkuNDE0LTIwOS40MTRjNC42ODYtNC42ODYgNC42ODYtMTIuMjg0IDAtMTYuOTcxTDQxLjY3OCAzOC4xMDFjLTQuNjg3LTQuNjg3LTEyLjI4NS00LjY4Ny0xNi45NzEgMHoiPjwvcGF0aD48L3N2Zz4=");
  background-position: right;
  width: 2.5em;
  height: 2.5em;
}

/*-----------Estilos Quinto Bloque----------*/

.gallery {
  margin: 0 auto;
}

.gallery-container {
  float: left;
}

.gallery-img {
  height: auto;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}

/*-----------Estilos Celular----------*/

@media (max-width: 767px),
(orientation: portrait) {

  /*-----------Estilos Primer Bloque----------*/
  .parallax {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .bloque1 {
    width: 100%;
    padding: 0.938em 0;
  }

  .bloque1-texto {
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }

  .bloque1-texto h1 {
    width: 80%;
    margin: 0 10%;
  }

  .bloque1-texto p {
    width: 80%;
    margin: 0 10%;
    text-align: left;
    font-size: 1.5em;
  }

  .logo-container {
    width: 80%;
    margin: 0 10%;
  }

  .logo {
    width: 100%;
  }

  /*-----------Estilos Segundo Bloque----------*/
  .bloque2 {
    display: block;
  }

  .datos-container {
    width: 100%;
  }

  .mapa-container {
    width: 100%;
  }

  .datos-titulo {
    margin: 0 10%;
    width: 80%;
  }

  .direccion {
    margin: 0.8em 10%;
    width: 80%;
    font-size: 1.13em;
  }

  .telefono {
    margin: 0.8em 10%;
    font-size: 1.13em;
    width: 80%;
  }

  .iframe-container {
    height: 120vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 90%;
    margin: 0.938em 5%;
  }

  .iframe {
    height: 100%;
    width: 100%;
    border: none;
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
  }

  /*-----------Estilos Iframe----------*/
  .lazyembed {
    z-index: 0;
  }

  .lazyembed:not(.embed-responsive-item) {
    position: relative;
    display: inline-block;
    line-height: 0;
  }

  .lazyembed:not(.embed-responsive-item) .lazyembed__text {
    line-height: 1;
  }

  .lazyembed__placeholder {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
  }

  .lazyembed__overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
  }

  .lazyembed__text {
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.25em;
    font-family: 'Overpass', sans-serif;
  }

  .lazyembed__text svg {
    width: 6em;
    height: 4em;
    margin: 0.625em;
  }

  /*-----------Estilos Frente----------*/
  .frente-img {
    width: 90%;
    margin: 0 5%;
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
  }

  /*-----------Estilos Tercer Bloque----------*/
  .bloque3 {
    width: 100%;
    height: auto;

    border: 0;
    margin: 0;
    display: block;
  }

  .bloque3-titulo {
    width: 60%;
    margin: 0 20%;
  }

  .bloque3-horario {
    width: 80%;
    margin: 0.8em 10%;
    color: #555;
    font-weight: 600;
    text-align: left;
    font-family: 'Overpass', sans-serif;
    font-size: 1.25em;
  }

  /*-----------Estilos Cuarto Bloque----------*/
  .bloque4 {
    margin: auto;
    width: 100%;
  }

  .slider-container p {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }

  .slider-container {
    width: 100%;
  }

  .slider-container-data {
    text-align: center;
    pointer-events: none;
  }

  .slider-container-data-1 {
    width: 100%;
    margin: 0%;
  }

  .slider-container-data-2 {
    width: 100%;
    margin: 0%;
  }

  .slider-container-data-3 {
    width: 100%;
    margin: 0%;
  }

  .slider-container-img {
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    width: 90%;
    margin: 5%;
  }

  .slider-1 {
    display: none;
  }

  .simple-slider .slider-btn.slider-btn-prev {
    left: 8%;
  }

  .simple-slider .slider-btn.slider-btn-next {
    right: 8%;
  }


  /*-----------Estilos Quinto Bloque----------*/
  .gallery {
    width: 100%;

    margin: 0 auto;
  }

  .gallery-container {
    width: 50%;
    float: left;
  }

  .gallery-img {
    width: 90%;
    height: auto;
    margin: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-box-shadow: inset 0 0 0.625em 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0 0 0.625em 0 rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 0.625em 0 rgba(0, 0, 0, 1);
  }
}
/*-----------Estilos Desktop----------*/
@media (min-width: 768px) and (orientation: landscape) {

  /*-----------Estilos Primer Bloque----------*/
  .bloque1 {
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10%;
  }

  .logo-container {
    width: 50%;
    float: right;
  }

  .logo {
    width: 100%;
    padding: 0.313em;
  }

  .bloque1-texto {
    width: 50%;
    padding: 0.625em;
  }

  .desc {
    font-size: 1.63em;
  }

  /*-----------Estilos Segundo Bloque----------*/
  .bloque2 {
    width: 80%;
    margin: 0 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .datos-container {
    width: 50%;
  }

  .mapa-container {
    width: 50%;
  }

  .datos-titulo {
    width: 100%;
  }

  .direccion {
    margin: 0.8em 2.5%;
    width: 45%;
    font-size: 1.13em;
  }

  .telefono {
    margin: 0.8em 2.5%;
    font-size: 1.13em;
    width: 45%;
  }

  .iframe-container {
    height: 35vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0.625em 0;
  }

  .iframe {
    height: 100%;
    width: 100%;
    border: 0;
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
  }

  /*-----------Estilos Iframe----------*/
  .lazyembed {
    z-index: 0;
  }

  .lazyembed:not(.embed-responsive-item) {
    position: relative;
    display: inline-block;
    line-height: 0;
  }

  .lazyembed:not(.embed-responsive-item) .lazyembed__text {
    line-height: 1;
  }

  .lazyembed__placeholder {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
  }

  .lazyembed__overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
  }

  .lazyembed__text {
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.25em;
    font-family: 'Overpass', sans-serif;
  }

  .lazyembed__text svg {
    width: 8em;
    height: 5em;
    margin: 0.625em;
  }

  /*-----------Estilos Frente----------*/
  .frente-img {
    width: 80%;

    margin: 0 10%;
    height: auto;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-border-radius: 1.250em;
    -moz-border-radius: 1.250em;
    border-radius: 1.250em;
  }

  .frente-img:hover {
    -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
  }

  /*-----------Estilos Tercer Bloque----------*/
  .bloque3 {
    width: 80%;
    margin: 0 10%;
    height: auto;
    padding: 0.625em 0;
  }

  .bloque3-titulo {
    width: 50%;
  }

  .bloque3-horario {
    width: 40%;
    font-size: 1.25em;
  }

  /*-----------Estilos Cuarto Bloque----------*/
  .bloque4 {
    width: 80%;
    margin: 0 10%;
  }

  .slider-container p {
    font-size: 1.5em;
  }

  .slider-container {
    width: 100%;
  }

  .slider-container-data {
    text-align: center;
    padding: 0 0 0.625em 0;
  }

  .slider-container-data-1 {
    width: 30%;
    margin: 1.6666%;
  }

  .slider-container-data-2 {
    width: 30%;
    margin: 1.6666%;
  }

  .slider-container-data-3 {
    width: 30%;
    margin: 1.6666%;
  }

  .slider-container-img {
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    width: 100%;
  }

  .slider-2 {
    display: none;
  }

  .simple-slider .slider-btn.slider-btn-prev,
  .simple-slider .slider-btn.slider-btn-next {
    opacity: 0.60;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  .simple-slider .slider-btn.slider-btn-prev:hover,
  .simple-slider .slider-btn.slider-btn-next:hover {
    opacity: 1;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  /*-----------Estilos Quinto Bloque----------*/
  .gallery {
    width: 80%;
  }

  .gallery-container {
    width: 25%;
  }

  .gallery-img {
    width: 90%;
    margin: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
  }

  .gallery-img:hover {
    -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.60);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
  }
}
/*-----------Estilos Tablet----------*/
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

  header,
  .bloque1,
  .bloque2,
  .frente-img,
  .bloque3,
  .bloque4,
  .gallery,
  footer {
    width: 95%;
    margin: 0 2.5%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {

  header,
  .bloque1,
  .bloque2,
  .frente-img,
  .bloque3,
  .bloque4,
  .gallery,
  footer {
    width: 80%;
    margin: 0 10%;
  }
}

@media screen and (min-width: 3840px) {
  .parallax {
    background: url("img/3840px+/parallax.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 2048px) and (max-width: 3839px) {
  .parallax {
    background: url("img/2048px-3839px/parallax.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2047px) {
  .parallax {
    background: url("img/1920px-2047px/parallax.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .parallax {
    background: url("img/1440px-1919px/parallax.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .parallax {
    background: url("img/1024px-1439px/parallax.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .parallax {
    background: url("img/768px-1023px/parallax.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .parallax {
    background: url("img/425px-767px/parallax.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .parallax {
    background: url("img/375px-424px/parallax.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media screen and (max-width: 374px) {
  .parallax {
    background: url("img/374px-/parallax.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}